* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1b1b1b;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  border: 2px solid #4CAF50;
  padding: 10rem;
}


.App h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App h3 {
  font-family: monospace;
  font-size: 1.15rem;
  padding-top: 2rem;
}


.App button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5rem 0 5rem 0;
  border-radius: 15px;
}

.App button:hover {
  opacity: 70%;
  cursor: pointer;
  transition: all 0.35s;
}

.App li {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.App ol {
  margin-bottom: 5rem;
}


